@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", serif;
}

.container{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: linear-gradient(0deg, #00adb5, #eee);
    padding-bottom:10px;
   
}

.container form{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 110px;
    width: 560px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.container form .inputBox{
    margin-top:20px;
}

.container form .inputBox span{
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    color: #333;
}

.container form .flexbox{
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg,#181719,#44474c);
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms all;
}

.container form .submit-btn:hover{
    opacity: 0.9;
    color: #eee;
    letter-spacing: 2px;
}

.container .card-container{
    width: 380px;
    height: 240px;
    position: relative;
    margin-bottom: -100px;
}

.container .card-container .front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(45deg,#181719,
        #44474c);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding: 20px;
    transition: 400ms all ease-out;
    transform: perspective(1000px) rotateY(0deg);    
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container .card-container .front .image img {
    height: 50px;
    width: 60px;
    border-radius: 6px;
}

.container .card-container .front .card-number-box {
    color: #fff;
    padding: 30px 0;
    font-size: 22px;
}

.container .card-container .front .flex-box {
    display: flex;
}

.container .card-container .front .flex-box .box{
    font-size: 12px;
    color: #fff;
}

.container .card-container .front .flex-box .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,#44474c,
        #181719);
    border-radius: 5px;
    padding: 20px 0px;
    transition: 400ms all ease-out;
    text-align:right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    transform: perspective(1000px) rotateY(180);
}

.container .card-container .back .box {
  padding: 0px 20px;
}
.container .card-container .back .box span{
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    height: 40px;
    margin-top: 25px;
    border-radius: 4px;
}

.container .card-container .back .stripe{
    background-color: #000;
    height: 50px;
    width: 100%;
    margin: 10px 0px;
}